In [1]:
# Imports

import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
from datetime import datetime, timedelta

In [2]:
# 1. Data adquisition    

def get_students_and_katas(students_csv='input/students.csv', katas_csv='input/katas.csv'): 
    try: 
        s = pd.read_csv(students_csv).set_index('username')
    except FileNotFoundError as e: 
        return e
    try: 
        k = pd.read_csv(katas_csv).set_index('slug')
    except FileNotFoundError as e: 
        return e
    return s, k

df_students, df_katas = get_students_and_katas()
katas = [s for s in df_katas.index]
students = [s for s in df_students.index]


# df_katas
# df_students

In [3]:
# 2. wrangle
def clean_katas(df): 
    pass

# transform minutes to int
df_katas.minutes = df_katas.minutes.astype('int64')

# transform date to datetime
df_katas.date = pd.to_datetime(df_katas.date,infer_datetime_format=True)
df_katas.head()

   
# add minutes to each row combining 2 columns
df_katas['limit'] = df_katas.apply(lambda row: row['date'] + pd.Timedelta(minutes=row['minutes']), axis=1)

# transform limit to datetime
df_katas.limit = pd.to_datetime(df_katas.limit,infer_datetime_format=True)
df_katas.dtypes
df_katas.head()

,date,minutes
slug,,
regexp-fun-number-1-when-i-miss-few-days-of-gym,2019-02-01 16:20:21.241000+00:00,60
deodorant-evaporator,2019-02-01 16:20:21.241000+00:00,60
ordered-count-of-characters,2019-02-13 10:00:00.241000+00:00,45
reverse-or-rotate,2019-02-15 13:00:00.241000+00:00,60
the-deaf-rats-of-hamelin,2019-02-19 15:00:00.241000+00:00,120

,date,minutes,limit
slug,,,
regexp-fun-number-1-when-i-miss-few-days-of-gym,2019-02-01 16:20:21.241000+00:00,60,2019-02-01 17:20:21.241000+00:00
deodorant-evaporator,2019-02-01 16:20:21.241000+00:00,60,2019-02-01 17:20:21.241000+00:00
ordered-count-of-characters,2019-02-13 10:00:00.241000+00:00,45,2019-02-13 10:45:00.241000+00:00
reverse-or-rotate,2019-02-15 13:00:00.241000+00:00,60,2019-02-15 14:00:00.241000+00:00
the-deaf-rats-of-hamelin,2019-02-19 15:00:00.241000+00:00,120,2019-02-19 17:00:00.241000+00:00

In [5]:


df = pd.DataFrame(index=df_students.index, columns=df_katas.index)
df.head()

slug,regexp-fun-number-1-when-i-miss-few-days-of-gym,deodorant-evaporator,ordered-count-of-characters,reverse-or-rotate,the-deaf-rats-of-hamelin,read-the-time
username,,,,,,
paulapr,NaN,NaN,NaN,NaN,NaN,NaN
Almugs,NaN,NaN,NaN,NaN,NaN,NaN
hector-moreno,NaN,NaN,NaN,NaN,NaN,NaN
potacho,NaN,NaN,NaN,NaN,NaN,NaN
carlosmd14,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# https://www.codewars.com/api/v1/users/Livia Canet/code-challenges/completed
# https://www.codewars.com/kata/

def get_completed_by_user(user, host='https://www.codewars.com/api/v1/users/', 
                          path='/code-challenges/completed'):
    url = host + user + path
    resp = requests.get(url)
    return resp.json()

In [7]:
# tarda un rato

# Diccionario k: v (usuario: resultado de la API
completed = {u: get_completed_by_user(u) for u in df_students.index}

# dictionary k: v (username: lista de katas completadas)
completed_katas_dict = dict([(k, v['data']) for k, v in completed.items()] )

def user_time_kata(user, slug, completed, katas): 
    res = '2090-01-01T00:00:00.000Z'# default
    for data in completed[user]: 
        if data['slug'] == slug: 
            res = data['completedAt']
            break
    return res

df_intime = df.copy()
df_intime.head()

slug,regexp-fun-number-1-when-i-miss-few-days-of-gym,deodorant-evaporator,ordered-count-of-characters,reverse-or-rotate,the-deaf-rats-of-hamelin,read-the-time
username,,,,,,
paulapr,NaN,NaN,NaN,NaN,NaN,NaN
Almugs,NaN,NaN,NaN,NaN,NaN,NaN
hector-moreno,NaN,NaN,NaN,NaN,NaN,NaN
potacho,NaN,NaN,NaN,NaN,NaN,NaN
carlosmd14,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
for user in students: 
    for slug in katas: 
        df_intime.loc[user, slug] = user_time_kata(user, slug, completed_katas_dict, katas)

for col in katas: 
    df_intime[col] = pd.to_datetime(df_intime[col],infer_datetime_format=True)

df_intime.head()

slug,regexp-fun-number-1-when-i-miss-few-days-of-gym,deodorant-evaporator,ordered-count-of-characters,reverse-or-rotate,the-deaf-rats-of-hamelin,read-the-time
username,,,,,,
paulapr,2019-02-01 16:20:21.241000+00:00,2019-01-31 10:23:30.056000+00:00,2019-02-13 09:11:58.899000+00:00,2019-02-15 14:23:21.428000+00:00,2019-02-19 22:09:27.506000+00:00,2019-02-19 16:39:55.303000+00:00
Almugs,2090-01-01 00:00:00+00:00,2019-01-31 10:07:42.203000+00:00,2019-02-13 09:22:22.716000+00:00,2090-01-01 00:00:00+00:00,2019-02-19 15:43:33.639000+00:00,2019-02-19 16:28:17.996000+00:00
hector-moreno,2019-02-01 09:20:36.608000+00:00,2019-01-31 09:50:30.396000+00:00,2019-02-13 09:32:00.389000+00:00,2019-02-15 14:28:12.748000+00:00,2019-02-19 14:48:02.786000+00:00,2019-02-19 16:55:31.264000+00:00
potacho,2019-02-01 10:20:48.105000+00:00,2019-01-31 09:33:19.252000+00:00,2090-01-01 00:00:00+00:00,2019-02-15 14:36:18.055000+00:00,2019-02-19 16:40:50.287000+00:00,2019-02-19 18:02:56.589000+00:00
carlosmd14,2019-02-01 09:40:03.013000+00:00,2019-01-31 09:15:42.108000+00:00,2019-02-13 09:12:50.216000+00:00,2019-02-15 12:28:29.372000+00:00,2019-02-19 15:54:28.113000+00:00,2019-02-19 15:17:55.685000+00:00

In [10]:


# df_time.loc['paulapr'] < df_katas.limit

for user in students: 
    df_intime.loc[user] = df_intime.loc[user] < df_katas.limit
df_intime

slug,regexp-fun-number-1-when-i-miss-few-days-of-gym,deodorant-evaporator,ordered-count-of-characters,reverse-or-rotate,the-deaf-rats-of-hamelin,read-the-time
username,,,,,,
paulapr,True,True,True,False,False,True
Almugs,False,True,True,False,True,True
hector-moreno,True,True,True,False,True,True
potacho,True,True,False,False,True,False
carlosmd14,True,True,True,True,True,True
Livia Canet,True,True,False,False,False,False
AlejandroFrank,True,False,True,False,True,False
AlejandroPerela,True,True,True,False,True,True
leyremarazuela,False,False,False,False,True,False
LauraRepullo,False,False,True,False,False,False
pecatade,True,True,True,True,True,True
NicoST1,True,True,True,False,False,True
lmartinezruizit,True,True,True,True,True,True
RodMech,True,True,True,True,True,True

In [11]:
def save_results(df, path='results.csv'): 
    df.to_csv(path, index=True)
    
save_results(df_intime)

In [12]:
   
    

def main(): 
    pass
    # data = acquire()
    # filtered = wrangle(data)
    # results = analyze(filtered)
    # barchart = visualize(results)
    # save_viz(barchart)

if __name__ == '__main__':
    main()